blosc2==2.5.1
certifi==2024.12.14
charset-normalizer==3.4.0
einops==0.8.0
idna==3.10
joblib==1.4.2
msgpack==1.1.0
ndindex==1.9.2
numexpr==2.10.2
numpy==1.26.4
packaging==24.2
pandas==2.2.2
pillow==11.0.0
py-cpuinfo==9.0.0
python-dateutil==2.9.0.post0
pytz==2024.2
pyyaml==6.0.2
requests==2.32.3
scikit-learn==1.4.0
scipy==1.13.1
six==1.17.0
tables==3.9.2
threadpoolctl==3.5.0
typing-extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0